<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>
    <link rel="stylesheet" href="/stylesheet/certificate.css">
    <link rel="shortcut icon" href="/images/new_logo.png" type="image/x-icon">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="big-heading"> Certificate </div>
            <div class="sub-heading">Of Completion</div>
        </div>
        <div class="middle-heading">
            This Certifies that:
        </div>
        <div class="name">
            <%= request.name %>
        </div>
        <div class="certificate-content">
            <%= request.name %> has developed advanced programming skills through hands-on projects, applying complex
                concepts to real-world problems for impactful solutions, Here are the cource gone through:
                <div class="order">
                    <ul>
                        <% if (Array.isArray(request.cource)) { %>
                            <% for (let i=0; i < request.cource.length; i++) { %>
                                <li>
                                    <%= request.cource[i] %>
                                </li>
                                <% } %>
                                    <% } else { %>
                                        <li>
                                            <%= request.cource %>
                                        </li>
                                        <% } %>


                    </ul>
                </div>

        </div>
        <div class="signature">
            <div>
                <div class="signature-pen"></div>
                <div class="signature-name">Director</div>
            </div>
            <div>
                <img src="/images/new_logo.png" alt="new_logo">
            </div>
            <div>
                <div class="signature-pen"></div>
                <div class="signature-name">Teacher</div>
            </div>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        function timeout() {
            setTimeout(() => {
                $(".container").slideDown(10000);
            }),
                100000;
        }
        $(".container").slideUp(() => {
            timeout();
        });
    </script>
</body>

</html>